/* IE 9 */

#search p {
    display: none;
}


/* IE8 */
.twocol li:first-child + li,
.twocol li:first-child + li + li + li,
.twocol li:first-child + li + li +li + li + li,
.twocol li:first-child + li + li +li + li + li + li + li {
    padding-left: 5%;
}

.twocol li:first-child + li + li,
.twocol li:first-child + li + li + li + li,
.twocol li:first-child + li + li +li + li + li + li {
    clear: both;
}

/* IE 7 */
article .twocol li { *width: 45%; }
